body {
  background-image: url(/icons/bg.jpg);
  text-align: center;
  background-size: cover;
  color: white;
  margin: 0;
  bottom: 0;
}

.power {
  position: absolute;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(197, 197, 197, 0.9);
  border-radius: 20px;
}

.search {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 290px;
  margin: auto;
  margin-top: 20px;
  border-radius: 50px;
}

.search input {
  height: 30px;
  width: 230px;
  background-color: rgb(255, 255, 255, 0);
  border: 0;
  outline: none;
}

::placeholder {
  color: white;
  text-align: center;
}

.search button {
  padding: 8px;
  border-radius: 100%;
  background-color: rgb(222, 247, 247);
  position: relative;
}

.title h1 {
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.poster img {
  width: 350px;
  height: 504px;
  border-radius: 5px;
}
.contents {
  width: 70%;
  background-color: rgba(33, 35, 37, 0.5);
  margin-left: 15%;
  border-radius: 10px;
  height: 220px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 30px;
  color: rgb(255, 255, 255);
  font-size: 26px;
  text-decoration: wavy;
  font-family: initial;
}
.details {
  text-align: left;
  margin-left: 35%;
}
